img{
    float: right;
}
.Global{
    font-family: 'Pacifico', cursive;
    background-color: aqua;
}
h1{
    font-family: 'Lobster', sans-serif;
}
p{
    font-family: 'Teko', sans-serif;
    background-color: aquamarine;
}