body{
    padding: 0 15% 0 15%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}
p{
    font-family: 'Montserrst', sans-serif;
    font-weight: 300;
   
}
img{
    transition: 1s ;
    box-shadow: 10px 10px 50px brown;
}
h1:hover{
    font-size: 50px;
    transition: 1s;
    text-decoration: underline;
    text-shadow: 6px 0px 0px;
}
img:hover{
    border-radius: 50% 0%;
    box-shadow: 0px 0px 25px brown;
}