p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    margin: 40px;
    border: 6px dashed red;
    transition: 1s;
}
img:hover{
    border-radius: 50% 0px;
    box-shadow: 0px 0px 50px; 
}
.a1{
    color: gray;
    text-align: center;
    transition: 1s;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.a1:hover{
    
    text-decoration: underline;
    color: red;
    font-size: 40px;
    text-shadow: 0px 0px 5px;
}
.terraria:hover{
    border-radius: 100px 0px;
    box-shadow: 0px 0px 50px;
}