img{
    border-radius:50px;
    width: 600px;
    margin: right 10px;
}
p{
    font-family: 'Pixelify Sans', sans-serif;
    text-align: left;
    font-size: 30px;
    color: gray;
    background-color: antiquewhite;
}
h1{
    text-align:center ;
    font-size: 40px;
}
.treeterraria{
    float: right ;
}












