.menu{
    background-color: rgb(192, 176, 176);
    width: 300px;
    padding: 15px;
    border: 2px solid black;
}
.right-img{
float: right;
border: 2px solid gray ;
padding: 20px;
background-color: rgb(215, 196, 196);

}
.left-img{
    border: 2px solid gray;
    padding: 20px;
    float: left;
    background-color: rgb(215, 196, 196)
}
h2{
    font-family: sans-serif;
}
p{
    
    font-family: 'Montserrat Alternates', sans-serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
figure{
    transition: 1s;
}
figure:hover{
    border-radius: 10% ;
}
a{
    text-decoration: none;
    color: rgba(34, 32, 34, 0.281);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    scroll-behavior: smooth;
}