img {
    width: 100%;

}

h1 {
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {

    background-color: rgb(154, 154, 154);
    border: none;
    transition: 1s;
    color: rgb(200, 200, 200);
    padding: 70px;
    margin: 10px;
    

}

button:hover {
    -webkit-box-shadow: 10px 0px 41px 19px rgba(74, 72, 72, 1);
    -moz-box-shadow: 10px 0px 41px 19px rgba(74, 72, 72, 1);
    box-shadow: 10px 0px 41px 19px rgba(74, 72, 72, 1);
}

body {
    background-image: linear-gradient(to top, #1d0707, #302020, #463636, #5d4d4d, #756666, #877878, #998b8b, #ab9e9e, #bbaeae, #cbbebe, #dbcfcf, #ebe0e0);

}

a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 50px;
}

p {
    color: #ab9e9e;

    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;


}

.border {
    border: 10px #ebe0e0 double;
    padding: 10px;
}

.ww1size {
    height: 700px;
}

b {
    color: rgb(195, 195, 195);
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dota {
    color: #1d0707;
}

audio {
    margin: 9px;

}

audio::-webkit-media-controls-enclosure {
    border-radius: 0px;
    background-color: rgba(145, 145, 145, 0.148);
}

li {
    padding: 8px;
}

h2 {
    padding: 10px;
    font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.temno {
    color: #302020;
}

.skibidi {
    color: rgb(137, 137, 137);

    
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    padding: 15px;

}

h3 {
    color: #dbcfcf;
    font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.temnishe {
    color: #5d4d4d;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
